.about-us {
  margin-top: 73px;
  margin-left: 30px;
}

.about-us__title {
  margin: 0;

  @include heading;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__list-items {
  padding-top: 85px;
  font-size: 17px;
  line-height: 20px;
  color: $main-color;
  font-weight: 700;
}

@media (min-width: 768px) {
  .about-us {
    margin: 0;
    margin-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .about-us__list-items {
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--ball {
    order: 1;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--price {
    order: 2;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--rocket {
    order: 3;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--heart {
    order: 4;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--gift {
    order: 5;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--flower,
  .about-us__list-items--ball {
    padding-top: 101px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--price,
  .about-us__list-items--rocket,
  .about-us__list-items--heart,
  .about-us__list-items--gift {
    padding-top: 110px;
  }
}

@media (min-width: 1250px) {
  .about-us {
    margin-top: 159px;
    padding-left: 272px;
    padding-right: 272px;
  }
}

@media (min-width: 1250px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700px;
  }
}

@media (min-width: 1250px) {
  .about-us__list-items {
    padding: 0;
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 1250px) {
  .about-us__list-items--flower,
  .about-us__list-items--ball {
    position: relative;
    padding-top: 95px;
  }
}

@media (min-width: 1250px) {
  .about-us__list-items--price,
  .about-us__list-items--rocket,
  .about-us__list-items--heart,
  .about-us__list-items--gift {
    padding-top: 110px;
  }
}

@media (min-width: 1250px) {
  .about-us__list-items--flower::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    bottom: 63px;
    left: 8px;
  }
}

@media (min-width: 1250px) {
  .about-us__list-items--ball::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 33px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    bottom: 63px;
    left: 8px;
  }
}
