.about-us {
  margin-top: 70px;
  padding-left: 29px;
  padding-right: 35px;
}

.about-us__title {
  margin: 0;

  @include heading;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__list-items {
  padding-top: 84px;
  font-size: 17px;
  line-height: 20px;
  color: $main-color;
  font-weight: 700;
}

.about-us__list-items--flower,
.about-us__list-items--price,
.about-us__list-items--heart,
.about-us__list-items--ball,
.about-us__list-items--rocket,
.about-us__list-items--gift {
  position: relative;
}

.about-us__list-items--rocket {
  padding-top: 82px;
}

.about-us__list-items--flower::before {
  position: absolute;
  left: 9px;
  bottom: 56px;
  content: "";
  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
}

.about-us__list-items--price::before {
  position: absolute;
  bottom: 67px;
  content: "";
  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.about-us__list-items--heart::before {
  position: absolute;
  left: 9px;
  bottom: 62px;
  content: "";
  width: 34px;
  height: 27px;
  background-image: url("../img/icon-feature-heart.svg");
}

.about-us__list-items--ball::before {
  position: absolute;
  left: 5px;
  bottom: 60px;
  content: "";
  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}

.about-us__list-items--rocket::before {
  position: absolute;
  left: -4px;
  bottom: 68px;
  content: "";
  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.about-us__list-items--gift::before {
  position: absolute;
  left: 4px;
  bottom: 63px;
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: 768px) {
  .about-us {
    margin: 0;
    margin-top: 119px;
    padding-left: 48px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .about-us__list-items {
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--flower::before {
    bottom: 60px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--ball {
    order: 1;
    padding-left: 39px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--ball::before {
    left: 38px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--price {
    order: 2;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--price::before {
    bottom: 69px;
    left: 2px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--rocket {
    order: 3;
    padding-left: 39px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--rocket::before {
    left: 32px;
    bottom: 70px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--heart {
    order: 4;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--gift {
    order: 5;
    padding-left: 39px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--gift::before {
    left: 40px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--flower,
  .about-us__list-items--ball {
    padding-top: 101px;
  }
}

@media (min-width: 768px) {
  .about-us__list-items--price,
  .about-us__list-items--rocket,
  .about-us__list-items--heart,
  .about-us__list-items--gift {
    padding-top: 111px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    margin-top: 156px;
    padding-left: 219px;
    padding-right: 272px;
  }
}

@media (min-width: 1150px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items {
    padding: 0;
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--flower,
  .about-us__list-items--ball {
    position: relative;
    padding-top: 102px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--flower {
    padding-left: 5px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--ball {
    padding-left: 50px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--price,
  .about-us__list-items--rocket,
  .about-us__list-items--heart,
  .about-us__list-items--gift {
    padding-top: 110px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--flower::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    bottom: 60px;
    left: 13px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--ball::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    bottom: 61px;
    left: 54px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--price {
    padding-left: 5px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--price::before {
    left: 6px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--rocket {
    padding-left: 50px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--rocket::before {
    left: 44px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--heart {
    padding-left: 5px;
    padding-top: 112px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--heart::before {
    left: 14px;
    bottom: 65px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--gift {
    padding-left: 51px;
    padding-top: 112px;
  }
}

@media (min-width: 1150px) {
  .about-us__list-items--gift::before {
    left: 54px;
    bottom: 64px;
  }
}
