.contacts {
  margin-top: 91px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__mail {
  margin: 0;
  margin-top: 37px;

  @include contacts;
}

.contacts__link {
  text-decoration: none;

  @include contacts;
}

.contacts__address {
  margin: 0;

  @include contacts;
}

.contacts__address-exact {
  margin: 0;
  margin-bottom: 72px;

  @include contacts;
}

.contacts__title,
.contacts__mail,
.contacts__address {
  margin-left: 30px;
}

.contacts__button-link {
  margin-top: 37px;
  margin-bottom: 37px;
  padding-left: 48px;
  padding-right: 48px;

  @include button;
}

@media (min-width: 768px) {
  .contacts {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .contacts__mail,
  .contacts__address,
  .contacts__address-exact,
  .contacts__button-link {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .contacts__email-wrapper {
    display: flex;
  }
}

@media (min-width: 768px) {
  .contacts__address-wrapper {
    display: flex;
  }
}

@media (min-width: 1250px) {
  .contacts__wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1250px) {
  .contacts {
    padding-left: 272px;
    padding-right: 100px;
  }
}

@media (min-width: 1250px) {
  .contacts__map {
    align-self: flex-end;
    margin-top: -85px;
  }
}

@media (min-width: 1250px) {
  .contacts__button-link {
    align-self: flex-start;
    margin-top: -50px;
  }
}
