.contacts {
  margin-top: 86px;
}

.contacts__title {
  margin: 0;
  padding-left: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__email-wrapper {
  display: flex;
  padding-top: 26px;
  padding-left: 29px;
  padding-right: 30px;
}

.contacts__mail {
  margin: 0;
  padding-right: 29px;

  @include contacts;
}

.contacts__link {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  @include contacts;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__address-wrapper {
  display: flex;
  padding-top: 30px;
  padding-left: 29px;
  padding-right: 30px;
  padding-bottom: 35px;
}

.contacts__address {
  margin: 0;
  padding-right: 31px;

  @include contacts;
}

.contacts__address-exact {
  margin: 0;

  @include contacts;
}

.contacts__button-link {
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;

  @include button;
  transition: all 0.3s;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }
}

.contacts__map iframe {
  background-image: url("../img/map-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: auto 457px;
  }
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
    margin: 0;
    margin-top: 146px;
  }
}

@media (min-width: 768px) {
  .contacts::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 54px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
  }
}

@media (min-width: 768px) {
  .contacts__title {
    margin: 0;
    padding-left: 48px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .contacts__mail,
  .contacts__address,
  .contacts__address-exact,
  .contacts__button-link {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .contacts__email-wrapper {
    display: flex;
    padding-left: 50px;
    padding-top: 49px;
  }
}

@media (min-width: 768px) {
  .contacts__mail {
    padding: 0;
    padding-right: 23px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .contacts__link {
    align-self: flex-start;
    font-size: 17px;
    line-height: 30px;
    border-bottom: 1px solid #62d1ba;
  }
}

@media (min-width: 768px) {
  .contacts__address-wrapper {
    display: flex;
    padding-top: 49px;
    padding-left: 22px;
    padding-bottom: 55px;
  }
}

@media (min-width: 768px) {
  .contacts__address {
    font-size: 17px;
    line-height: 30px;
    padding-right: 27px;
  }
}

@media (min-width: 768px) {
  .contacts__address-exact {
    width: 230px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .contacts__button-link {
    align-self: flex-start;
    margin-top: 51px;
    margin-left: 269px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .contacts__map iframe {
    width: 768px;
    height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-tablet@2x.jpg");
    background-size: auto 457px;
  }
}

@media (min-width: 1150px) {
  .contacts__wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 153px;
  }
}

@media (min-width: 1150px) {
  .contacts::before {
    top: 65px;
    left: 113px;
  }
}

@media (min-width: 1150px) {
  .contacts__map {
    align-self: flex-end;
    margin-top: -381px;
  }
}

@media (min-width: 1150px) {
  .contacts__button-link {
    align-self: flex-start;
    margin-top: -57px;
    margin-left: 175px;
    margin-bottom: 107px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: 1150px) {
  .contacts__title {
    margin: 0;
    padding-top: 74px;
    padding-left: 168px;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}

@media (min-width: 1150px) {
  .contacts__mail {
    padding-left: 124px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .contacts__link {
    font-size: 17px;
    line-height: 30px;
    border-bottom: 1px solid #62d1ba;
  }
}

@media (min-width: 1150px) {
  .contacts__address-wrapper {
    padding-top: 28px;
  }
}

@media (min-width: 1150px) {
  .contacts__address {
    padding-left: 152px;
    padding-right: 25px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .contacts__address-exact {
    width: 230px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .contacts__map iframe {
    width: 525px;
    height: 457px;
    background-image: url(../img/map-desktop@1x.jpg);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-desktop@2x.jpg");
    background-size: auto 457px;
  }
}
