.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__total {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 46px;
  padding-top: 27px;
  padding-bottom: 34px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #e5e5e5;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-footer__icon-htmlacademy {
  position: absolute;
  right: 31px;
  top: 22px;
  fill: #63d1bb;
}

.page-footer__total:hover .page-footer__icon-htmlacademy {
  fill: #46c1ae;
}

.page-footer__total:active .page-footer__icon-htmlacademy {
  fill: #bde3dd;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    align-items: center;
    margin-top: 58px;
  }
}

@media (min-width: 768px) {
  .page-footer--catalog {
    margin-top: 64px;
  }
}

@media (min-width: 768px) {
  .page-footer--form {
    margin-top: 23px;
  }
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    width: 768px;
  }
}

@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 58px;
    cursor: pointer;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #bde3dd;
    }
  }
}

@media (min-width: 768px) {
  .page-footer__total {
    padding-left: 84px;
    padding-top: 62px;
  }
}

@media (min-width: 768px) {
  .page-footer__icon-htmlacademy {
    right: -55px;
    top: 57px;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    margin-top: 1px;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .page-footer__total {
    padding-left: 275px;
  }
}

@media (min-width: 1150px) {
  .page-footer--form {
    margin-top: 20px;
  }
}

@media (min-width: 1150px) {
  .page-footer--catalog {
    margin-top: 105px;
  }
}
