.page-header {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border-top: 1px solid $border-color;
}

.page-header__logo {
  padding-top: 21px;
  padding-bottom: 16px;
}

.page-header__logo-link {
  padding-left: 117px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__wrapper-logo-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .page-header {
    border: none;
  }
}

@media (min-width: 768px) {
  .page-header__logo {
    padding: 0;
    padding-right: 208px;
    padding-top: 4px;
  }
}

@media (min-width: 768px) {
  .page-header__logo-link {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    padding-left: 77px;
    padding-top: 0;
    padding-right: 1px;
    margin-top: -31px;
  }
}
