.page-footer {
  background-color: #f1f1f1;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__total {
  margin: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  border-top: 1px solid #e5e5e5;
}
