.product-card {
  margin-left: 30px;
}

.product-card__main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card__title,
.product-card__subtitle,
.product-card__description {
  margin: 0;
}

.product-card__title {
  padding-top: 30px;

  @include heading;
}

.product-card__subtitle {
  padding-top: 3px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-card__description {
  padding-top: 28px;
  font-size: 15px;
  line-height: 24px;
  color: $light-black;
}

.product-card__table {
  border-collapse: collapse;
  margin-top: 20px;
}

.product-card__table-element {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  color: $light-black;
}

.product-card__image {
  margin-top: 28px;
}

.product-card__price {
  margin: 0;
  margin-top: 27px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $light-black;
}

.product-card__order-button {
  margin-top: 27px;
  padding-left: 83px;
  padding-right: 83px;

  @include button;
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-card__title,
  .product-card__subtitle {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .product-card__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .product-card__image {
    align-self: flex-end;
    margin-top: -200px;
  }
}

@media (min-width: 768px) {
  .product-card__description {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .product-card__price {
    margin-top: -80px;
  }
}

@media (min-width: 1250px) {
  .product-card {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1250px) {
  .product-card__subtitle {
    order: -1;
  }
}

@media (min-width: 1250px) {
  .product-card__image {
    position: absolute;
    left: 400px;
    top: 0;
    margin: 0;
    z-index: -1;
  }
}

@media (min-width: 1250px) {
  .product-card__price {
    margin: 0;
  }
}
