.product-card {
  padding-left: 30px;
  padding-right: 30px;
}

.product-card__main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card__title,
.product-card__subtitle,
.product-card__description {
  margin: 0;
}

.product-card__title {
  padding-top: 27px;

  @include heading;
}

.product-card__subtitle {
  padding-top: 6px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-card__description {
  padding-top: 22px;
  font-size: 15px;
  line-height: 24px;
  color: $light-black;
}

.product-card__table {
  border-collapse: collapse;
  margin-top: 16px;
}

.product-card__table-element {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 27px;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  color: $light-black;
}

.product-card__image {
  margin-top: 28px;
}

.product-card__price {
  margin: 0;
  padding-top: 19px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $light-black;
}

.product-card__order-button {
  margin-top: 26px;
  padding-left: 83px;
  padding-right: 83px;

  @include button;
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-card__title,
  .product-card__subtitle {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .product-card__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .product-card__subtitle {
    width: 90px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }
}

@media (min-width: 768px) {
  .product-card__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .product-card__image {
    align-self: flex-end;
    margin-top: -200px;
  }
}

@media (min-width: 768px) {
  .product-card__description {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .product-card__price {
    margin-top: -80px;
  }
}

@media (min-width: 1250px) {
  .product-card {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 126px;
  }
}

@media (min-width: 1250px) {
  .product-card__subtitle {
    order: -1;
    width: 80px;
    padding-left: 46px;
    padding-top: 12px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
  }
}

@media (min-width: 1250px) {
  .product-card__image {
    position: absolute;
    left: 625px;
    top: 71px;
    margin: 0;
    z-index: -1;
  }
}

@media (min-width: 1250px) {
  .product-card__price {
    margin: 0;
    padding-top: 110px;
    padding-left: 247px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

@media (min-width: 1250px) {
  .product-card__title {
    padding-left: 53px;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}

@media (min-width: 1250px) {
  .product-card__description {
    padding-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1250px) {
  .product-card__table {
    margin-left: 175px;
  }
}

@media (min-width: 1250px) {
  .product-card__order-button {
    padding-left: 98px;
    padding-right: 98px;
    margin-left: 175px;
  }
}
