.production {
  margin-top: 30px;
  margin-bottom: 58px;
  border: 1px solid #ececec;
}

.production__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.production__description {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 53px;
  font-size: 13px;
  line-height: 24px;
  color: $light-black;
}

.production__button {
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 32px;

  @include button;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .production__video-about {
    order: -1;
  }
}

@media (min-width: 1250px) {
  .production__video-about {
    order: 0;
    align-self: flex-start;
  }
}

@media (min-width: 1250px) {
  .production {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1250px) {
  .production__title {
    align-self: flex-end;
  }
}

@media (min-width: 1250px) {
  .production__description {
    align-self: flex-end;
    width: 250px;
    margin-top: -150px;
  }
}

@media (min-width: 1250px) {
  .production__button {
    align-self: flex-end;
  }
}
