.product-card {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.product-card::after {
  content: "";
  position: absolute;
  bottom: -65px;
  left: 0px;
  width: 320px;
  height: 30px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 350px;
}

.product-card__main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card__title,
.product-card__subtitle,
.product-card__description {
  margin: 0;
}

.product-card__title {
  padding-top: 27px;

  @include heading;
}

.product-card__subtitle {
  padding-top: 6px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-card__description {
  padding-top: 22px;
  font-size: 15px;
  line-height: 24px;
  color: $light-black;
}

.product-card__table {
  border-collapse: collapse;
  margin-top: 16px;
}

.product-card__table-element {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 27px;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  line-height: 20px;
  color: $light-black;
}

.product-card__image {
  margin-top: 28px;
}

.product-card__price {
  margin: 0;
  padding-top: 19px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $light-black;
}

.product-card__order-button {
  margin-top: 26px;
  padding-left: 83px;
  padding-right: 83px;
  font-size: 17px;

  @include button;
  transition: all 0.3s;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 0;
    margin-top: 44px;
    padding-left: 48px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-card::after{
    content: "";
    position: absolute;
    bottom: -82px;
    left: 0px;
    width: 768px;
    height: 30px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 800px;
  }
}

@media (min-width: 768px) {
  .product-card::before {
    content: "";
    position: absolute;
    top: -58px;
    left: 0;
    width: 768px;
    height: 34px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .product-card__title,
  .product-card__subtitle {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .product-card__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 768px) {
  .product-card__subtitle {
    width: 90px;
    padding-top: 8px;
    padding-left: 135px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
  }
}

@media (min-width: 768px) {
  .product-card__title-wrapper {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .product-card__image {
    position: absolute;
    top: 106px;
    right: 50px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .product-card__description {
    width: 300px;
    padding-top: 49px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .product-card__table {
    margin-top: 34px;
  }
}

@media (min-width: 768px) {
  .product-card__price {
    padding-top: 55px;
    padding-left: 73px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .product-card__order-button {
    margin-top: 35px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1150px) {
  .product-card {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 121px;
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .product-card::after {
    content: "";
    position: absolute;
    bottom: -105px;
    left: 48px;
    width: 1050px;
    height: 30px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 1100px;
  }
}

@media (min-width: 1150px) {
  .product-card::before {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;
    width: 1150px;
    height: 34px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 1150px) {
  .product-card__subtitle {
    order: -1;
    width: 80px;
    padding-left: 40px;
    padding-top: 6px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
  }
}

@media (min-width: 1150px) {
  .product-card__image {
    position: absolute;
    left: 573px;
    top: 70px;
    margin: 0;
    z-index: -1;
  }
}

@media (min-width: 1150px) {
  .product-card__price {
    margin: 0;
    padding-top: 106px;
    padding-left: 247px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

@media (min-width: 1150px) {
  .product-card__title {
    padding-left: 48px;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}

@media (min-width: 1150px) {
  .product-card__description {
    padding-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .product-card__table {
    margin-left: 174px;
    margin-top: 46px;
  }
}

@media (min-width: 1150px) {
  .product-card__table-element {
    padding-bottom: 12px;
    padding-top: 9px;
  }
}

@media (min-width: 1150px) {
  .product-card__order-button {
    padding-left: 98px;
    padding-right: 98px;
    margin-left: 175px;
  }
}
