.product-types {
  padding-top: 94px;
}

.product-types__interior,
.product-types__toys {
  display: block;
  padding-top: 26px;
  padding-left: 29px;
  padding-right: 180px;
  padding-bottom: 29px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.product-types__interior {
  background-color: #63d1bb;
  transition: all 0.3s ease;

  &:hover {
    background-color: #59d5bc;
    margin-top: -5px;
    padding-bottom: 34px;
  }
}

.product-types__toys {
  background-color: #56c3b2;
  transition: all 0.3s ease;

  &:hover {
    background-color: #46c1ae;
    margin-top: -5px;
    padding-bottom: 34px;
  }
}

@media (min-width: 768px) {
  .product-types {
    display: flex;
    padding-top: 332px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-types__interior,
  .product-types__toys {
    width: 334px;
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 187px;
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .product-types__interior,
  .product-types__toys {
    width: 525px;
    padding-right: 375px;
  }
}

@media (min-width: 1150px) {
  .product-types {
    padding-top: 306px;
  }
}
