.product-types {
  padding-top: 94px;
}

.product-types__interior,
.product-types__toys {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-left: 29px;
  padding-right: 180px;
  padding-bottom: 29px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.product-types__interior {
  background-color: #63d1bb;
  transition: all 0.3s ease;

  &:hover {
    background-color: #59d5bc;
    margin-top: -5px;
    padding-bottom: 34px;
  }

  &:active {
    color: #97e2d2;
  }
}

.product-types__toys {
  background-color: #56c3b2;
  transition: all 0.3s ease;

  &:hover {
    background-color: #46c1ae;
    margin-top: -5px;
    padding-bottom: 34px;
  }

  &:active {
    color: #8dd5c9;
  }
}

.product-types__icon-interior {
  position: absolute;
  top: 23px;
  right: 37px;
  fill: #3bb09d;
}

.product-types__interior:hover .product-types__icon-interior {
  fill: #29a592;
}

.product-types__interior:active .product-types__icon-interior {
  fill: #44c0aa;
}

.product-types__icon-toys {
  position: absolute;
  top: 20px;
  right: 27px;
  fill: #35a999;
}

.product-types__toys:hover .product-types__icon-toys {
  fill: #239f8e;
}

.product-types__toys:active .product-types__icon-toys {
  fill: #37b2a0;
}

@media (min-width: 768px) {
  .product-types {
    display: flex;
    padding-top: 332px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .product-types__interior,
  .product-types__toys {
    width: 334px;
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 187px;
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .product-types__icon-interior {
    top: 28px;
  }
}

@media (min-width: 768px) {
  .product-types__icon-toys {
    top: 30px;
    right: 34px;
  }
}

@media (min-width: 1150px) {
  .product-types__interior,
  .product-types__toys {
    width: 525px;
    padding-right: 375px;
  }
}

@media (min-width: 1150px) {
  .product-types {
    padding-top: 306px;
  }
}
