.site-list__item {
  list-style: none;
  border-top: 1px solid $border-color;
}

.site-list__item-link {
  display: block;
  text-decoration: none;
  color: $main-color;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 75px;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list__item--hidden {
  display: none;
}

@media (min-width: 768px) {
  .site-list__item {
    padding: 0;
    padding-top: 16px;
    border: none;
  }
}

@media (min-width: 768px) {
  .site-list__item-link {
    padding: 0;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    order: 1;
    justify-content: space-between;
    width: 305px;
  }
}

@media (min-width: 1150px) {
  .site-list__item--hidden {
    display: block;
  }
}

@media (min-width: 1150px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    width: 375px;
  }
}

@media (min-width: 1150px) {
  .site-list__item--catalog {
    border-right: 1px solid #ececec;
    padding-right: 36px;
    padding-top: 31px;
    padding-bottom: 33px;
  }
}

@media (min-width: 1150px) {
  .site-list__item--form {
    padding-top: 31px;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    padding-left: 77px;
    padding-top: 0;
    margin-top: -31px;
  }
}

@media (min-width: 1150px) {
  .site-list__item-link {
    font-size: 17px;
    line-height: 24px;
    padding-left: 2px;
  }
}

@media (min-width: 1150px) {
  .site-list__item-link--new,
  .site-list__item-link--sale {
    font-size: 15px;
    line-height: 24px;
    padding-top: 2px;
  }
}

@media (min-width: 1150px) {
  .site-list__item-link--sale {
    padding-right: 58px;
  }
}
