.site-list__item {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 75px;
  list-style: none;
  border-top: 1px solid $border-color;
}

.site-list__item-link {
  text-decoration: none;
  color: $main-color;
}
