.user-list__item {
  list-style: none;
  border-top: 1px solid $border-color;
}

.user-list__item-link {
  display: block;
  text-decoration: none;
  color: $main-color;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 75px;
}

@media (min-width: 768px) {
  .user-list__item {
    padding: 0;
    border: none;
  }
}

@media (min-width: 768px) {
  .user-list__item-link {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .user-list__item-link--search {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 35px;
    padding-bottom: 31px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
}

@media (min-width: 768px) {
  .user-list__item-link--basket {
    padding-top: 29px;
    padding-left: 27px;
    padding-bottom: 29px;
  }
}

@media (min-width: 768px) {
  .user-list__item-link--basket svg {
    padding-top: 3px;
    padding-right: 29px;
  }
}

@media (min-width: 768px) {
  .user-list__item-link--hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .user-list {
    display: flex;
  }
}

@media (min-width: 1150px) {
  .user-list {
    padding-left: 100px;
  }
}

@media (min-width: 1150px) {
  .user-list__item-link--search {
    margin-top: -38px;
  }
}

@media (min-width: 1150px) {
  .user-list__item-link--basket {
    padding-top: 0;
    margin-top: -15px;
  }
}

@media (min-width: 1150px) {
  .user-list__item-link--basket svg {
    padding-top: 9px;
    padding-left: 2px;
  }
}
